gensim==4.2.0
huggingface-hub==0.5.1
ipykernel==6.13.0
ipython==8.3.0
jieba==0.42.1
librosa==0.7.2
opencv-python==4.6.0.66
pandas==1.4.2
Pillow==9.1.0
python==3.8.5
python3-openid==3.2.0
pytorch-lightning==1.6.2
pytorch-ranger==0.1.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.2
torch==1.10.1
torch-optimizer==0.3.0
torch-stoi==0.1.2
torchaudio==0.11.0
torchmetrics==0.8.1
torchvision==0.11.2
transformers==4.18.0
scikit-learn==1.0.2
scipy==1.8.1
timm==0.5.4
tokenizers==0.12.1
tqdm==4.64.0